// set defaults
params {
  IN                = "${projectDir}/assets/*.json"
  OUT               = "${launchDir}/results"
  EMAIL             = ""
  PORT              = 0
  INFERENCE.enabled = true
  MSA.enabled       = true
  METRICS.enabled   = true
  SHINY.enabled     = false
  ALPHAFOLD2 {
    DATABASE_DIR          = "/mnt/storage/alphafold/v232"
    MODEL_PRESET          = "multimer"
    PREDICTIONS_PER_MODEL = 1
  }
  ALPHAFOLD3 {
    DATABASE_DIR          = "/mnt/storage/alphafold/v300"
    MODEL_DIR             = "/mnt/storage/alphafold/v300/.model"
    DIFFUSION_SAMPLES     = 1
    GROUP_MSA             = true
  }
  BOLTZ {
    MSA_SERVER_URL        = "https://api.colabfold.com"
    MSA_PAIRING_STRATEGY  = "greedy"
    RECYCLING_STEPS       = 3
    SAMPLING_STEPS        = 200
    DIFFUSION_SAMPLES     = 1
  }
}

plugins {
  id 'nf-schema@2.2.1'
}

validation {
  help {
    enabled             = true
    shortParameter      = false
    fullParameter       = 'help'
    showHidden          = true
    afterText           = 'If you encounter any issues with fold2go, please report them at https://gitlab.rlp.net/imbforge/fold2go/-/issues'
  }
}

profiles {
  standard {
      includeConfig 'configs/imb.config'
      includeConfig 'workflows/fold2go/nextflow.config'
  }
}

// generate a timestamp to add to reports
def timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm')

report {
  enabled   = true
  overwrite = true
  file      = "${params.OUT}/report_${timestamp}.html"
}

timeline {
  enabled   = true
  overwrite = true
  file      = "${params.OUT}/timeline_${timestamp}.html"
}

trace {
  enabled   = false
  overwrite = true
  file      = "${params.OUT}/trace_${timestamp}.txt"
}

dag {
  enabled   = false
  overwrite = true
  file      = "${params.OUT}/graph_${timestamp}.mmd"
}

manifest {
    name = 'imbforge/fold2go'
    homePage = 'https://gitlab.rlp.net/imbforge/fold2go'
    description = 'Nextflow wrapper for AlphaFold'
    author = 'Patrick Hüther (huether@imb-mainz.de)'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    nextflowVersion = '!>=24.04.0'
}
