nextflow {
  enable.moduleBinaries = true              // adds module-local scripts to $PATH
  enable.strict         = { !params.debug } // strict-mode throws errors if undefined parameters are used
}

profiles {
  standard {
      includeConfig 'configs/imb.config'
      includeConfig 'workflows/fold2go/nextflow.config'
  }
}

// generate a timestamp to add to reports
def timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm')

trace {
  enabled   = true
  overwrite = true
  file      = "${params.OUT}/trace_${timestamp}.txt"
}

timeline {
  enabled   = true
  overwrite = true
  file      = "${params.OUT}/timeline_${timestamp}.html"
}

report {
  enabled   = true
  overwrite = true
  file      = "${params.OUT}/report_${timestamp}.html"
}

dag {
  enabled   = false
  overwrite = true
  file      = "${params.OUT}/graph_${timestamp}.mmd"
}

manifest {
    name = 'imbforge/fold2go'
    homePage = 'https://gitlab.rlp.net/imbforge/fold2go'
    description = 'Nextflow wrapper for AlphaFold'
    author = 'Patrick Hüther (huether@imb-mainz.de)'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    nextflowVersion = '!>=24.04.0'
}
