process {
    withName: ALPHAFOLD {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/alphafold@sha256:58cd1654bfe86e14bde7c8d06009d4786e56ebbdd5f7d3a8db8679912b5c2325"

        cpus       = 2
        time       = { meta.size() * 1.h * task.attempt }
        memory     = 16.GB

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/predictions/${meta*.value.join('.')}" },
                    saveAs: { path -> path.split('/').last() }
                ]
            ]
    }
}

process {
    withName: MSA {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/alphafold@sha256:58cd1654bfe86e14bde7c8d06009d4786e56ebbdd5f7d3a8db8679912b5c2325"

        cpus       = 4
        time       = { 1.h * task.attempt }
        memory     = 64.GB

        publishDir =
            [
                [
                    path: { "${params.OUT}/msa/${record.id}" },
                    saveAs: { path -> path.split('/').last() }
                ]
            ]
    }
}