process {
    withName: 'FOLD2GO:COLABFOLD:COLABFOLD_SEARCH' {
        cpus   = 12
        time   = { 5.h * task.attempt }
        memory = { 384.GB * task.attempt }
    }

    withName: 'FOLD2GO:COLABFOLD:COLABFOLD_BATCH' {
        cpus   = 2
        time   = { 1.h * task.attempt }
        memory = { 16.GB * task.attempt }
    }
}