process {
    withName: 'FOLD2GO:COLABFOLD:MSA' {
        cpus   = 32
        time   = { 5.h * task.attempt }
        memory = { 384.GB * task.attempt }
    }

    withName: 'FOLD2GO:COLABFOLD:INFERENCE' {
        cpus   = 2
        time   = { 1.h * task.attempt }
        memory = { 16.GB * task.attempt }
    }
}