process {
    withName: METRICS {
        cpus   = 1
        time   = { 20.min * task.attempt }
        memory = { 16.GB  * task.attempt }

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/metrics" },
                    saveAs: { "${meta.id}.${meta.model}_metrics.tsv" },
                    pattern: "*.tsv",
                    mode: "copy"
                ]
            ]
    }
}
