process {
    withName: METRICS {
        cpus   = 1
        time   = 10.min
        memory = 16.GB

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/metrics" },
                    saveAs: { "${meta.id}.${meta.model}_metrics.tsv" },
                    pattern: "*.tsv",
                    mode: "copy"
                ]
            ]
    }
}
