switch ( params.MODEL_PRESET ) {
    case { it ==~ /^(mono|multi)mer.*/ }:
        includeConfig'../../subworkflows/alphafold2/nextflow.config'
        break
    default:
        includeConfig'../../subworkflows/alphafold3/nextflow.config'
}

includeConfig "../../modules/pymol/nextflow.config"
includeConfig "../../modules/shiny/nextflow.config"