includeConfig "../../modules/shiny/nextflow.config"
includeConfig "../../modules/metrics/nextflow.config"
includeConfig "../../subworkflows/alphafold2/nextflow.config"
includeConfig "../../subworkflows/alphafold3/nextflow.config"
includeConfig "../../subworkflows/boltz/nextflow.config"
includeConfig "../../subworkflows/colabfold/nextflow.config"

// set defaults
params {
  IN                = "${projectDir}/assets/testdata/*.json"
  EMAIL             = ""
  SAVE_MSA          = false
  MODEL_PRESET      = "alphafold3"
}

process {
  container     = { "imbforge/fold2go/${moduleDir.name}:${workflow?.revision ?: 'next'}" }
  errorStrategy = 'retry'
  maxRetries    = 3
  shell         = ['/usr/bin/env', 'bash', '-ue', '-o', 'pipefail']
}