includeConfig "../../modules/shiny/nextflow.config"
includeConfig "../../modules/metrics/nextflow.config"
includeConfig "../../subworkflows/alphafold2/nextflow.config"
includeConfig "../../subworkflows/alphafold3/nextflow.config"
includeConfig "../../subworkflows/boltz/nextflow.config"

// set defaults
params {
  IN                = "${projectDir}/assets/*.json"
  OUT               = "${launchDir}/results"
  EMAIL             = ""
  SOCKET            = ""
  INFERENCE.enabled = true
  MSA.enabled       = true
  METRICS.enabled   = true
  SHINY.enabled     = false
}

process {
  container     = { "imbforge/fold2go/${moduleDir.name}:${workflow?.revision ?: 'next'}" }
  errorStrategy = 'retry'
  maxRetries    = 3
  shell         = ['/usr/bin/env', 'bash', '-ue', '-o', 'pipefail']
}