process {
    withName: 'FOLD2GO:BOLTZ:MSA' {
        cpus   = 1
        time   = 1.h
        memory = 4.GB

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/msa" },
                    mode: "copy"
                ]
            ]
    }

    withName: 'FOLD2GO:BOLTZ:INFERENCE' {
        cpus   = 2
        time   = {  1.h  * task.attempt }
        memory = { 32.GB * task.attempt }

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/predictions" },
                    saveAs: { path -> path.split('/').last() },
                    mode: "copy"
                ]
            ]
    }

    withName: 'FOLD2GO:BOLTZ:METRICS' {
        cpus   = 1
        time   = 1.min
        memory = 4.GB

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/metrics" },
                    saveAs: { "boltz_${meta.id}_metrics.tsv" },
                    pattern: "*.tsv",
                    mode: "copy"
                ]
            ]
    }
}
