process {
    withName: MSA {
        cpus   = 8
        time   = { 1.h  * task.attempt }
        memory = { 8.GB * task.attempt }

        publishDir =
            [
                [
                    path: { "${params.OUT}/msa/${meta.id}" },
                    mode: "copy"
                ]
            ]
    }

    withName: INFERENCE {
        cpus   = 2
        time   = { 1.h   * task.attempt }
        memory = { 32.GB * task.attempt }

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/predictions" },
                    saveAs: { path -> path.split('/').last() },
                    mode: "copy"
                ]
            ]
    }
}
