process {
    withName: MSA {
        cpus   = 8
        time   = { 1.h  * task.attempt }
        memory = { 8.GB * task.attempt }

        publishDir =
            [
                [
                    path: { "${params.OUT}/msa/${meta.id}" },
                    mode: "copy"
                ]
            ]
    }
}
