process {
    withName: 'FOLD2GO:ALPHAFOLD3:MSA' {
        cpus   = 8
        time   = { 30.min * task.attempt * meta.jobsize }
        memory = { 16.GB * task.attempt }
    }

    withName: 'FOLD2GO:ALPHAFOLD3:INFERENCE' {
        cpus   = 2
        time   = { 1.h * ( task.attempt ** 2 ) }
        memory = { 16.GB * task.attempt }
    }
}
