
executor {
    name      = 'slurm'
    jobName   = { task.process.split(':').last() }
}

process {
    errorStrategy = 'retry'
    maxRetries    = 3
    shell         = ['/usr/bin/env', 'bash', '-ue', '-o', 'pipefail']
    cache         = 'lenient' // workaround for lagging nfs timestamps

    queue = { task.time <= 5.h ? 'short' : 'long' }

    withLabel: 'gpu' {
        queue            = { task.time <= 5.h ? 'gpushort' : 'gpulong' }
        clusterOptions   = '--gres=gpu:1'
        containerOptions = '--nv --nvccli --writable-tmpfs'
    }

    withName: 'MSA' {
        // spinning disks via NFS are prohibitive for multiple sequence alignments
        // unfortunately, there are no SSDs mounted on hpc[1-3], so we need to send those msa jobs to the gpu queue as well
        queue = { task.time <= 5.h ? 'gpushort' : 'gpulong' }

        // only request up to 8*4 = 32 cores and 8 * 64 = 512 GB RAM at a time, to leave room for efficient placement of gpu jobs
        maxForks = 8
    }

}

singularity {
    enabled      = true
    envWhitelist = "NVIDIA_VISIBLE_DEVICES=1,TF_FORCE_UNIFIED_MEMORY=1,XLA_PYTHON_CLIENT_MEM_FRACTION=4.0"
}

