
executor {
    name      = 'slurm'
    jobName   = { task.process.split(':').last() }
}

process {
    errorStrategy = 'retry'
    maxRetries    = 3
    shell         = ['/usr/bin/env', 'bash', '-ue', '-o', 'pipefail']
    cache         = 'lenient' // workaround for lagging nfs timestamps

    queue = { task.time <= 5.h ? 'short' : 'long' } // avoids blocking gpu resources with cpu-only jobs

    withLabel: cuda {
        queue            = { task.time <= 5.h ? 'gpushort' : 'gpulong' }
        clusterOptions   = '--gres=gpu:1'
        containerOptions = '--nv --nvccli --writable-tmpfs'
    }

}

singularity {
    enabled      = true
    envWhitelist = "NVIDIA_VISIBLE_DEVICES=1,TF_FORCE_UNIFIED_MEMORY=1,XLA_PYTHON_CLIENT_MEM_FRACTION=4.0"
}

