process {
    withName: INFERENCE {
        cpus   = 2
        time   = { meta.size() *  1.h * task.attempt  }
        memory = { meta.size() * 12.GB * task.attempt }

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/predictions/${meta*.value.join('.')}" },
                    saveAs: { path -> path.split('/').last() },
                    mode: "copy"
                ]
            ]
    }
}

process {
    withName: MSA {
        cpus   = 4
        time   = { 1.h * task.attempt }
        memory = { ( ( record.seqString.size() / 100 as int ) * 16.GB ?: 16.GB ) * task.attempt }

        publishDir =
            [
                [
                    path: { "${params.OUT}/msa/${record.id}" },
                    saveAs: { path -> path.split('/').last() },
                    mode: "copy"
                ]
            ]
    }
}
