process {
    withName: 'FOLD2GO:ALPHAFOLD2:INFERENCE' {
        cpus   = 2
        time   = { chains.size() *  1.h * task.attempt  }
        memory = { chains.size() * 12.GB * task.attempt }
    }
}

process {
    withName: 'FOLD2GO:ALPHAFOLD2:MSA' {
        cpus   = 4
        time   = { 1.h * task.attempt   }
        memory = { 16.GB * task.attempt }
    }
}
