process {
    withName: PYMOL {
        cpus   = 1
        time   = 1.h
        memory = 16.GB

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/metrics" },
                    saveAs: { "${meta*.value.join('.')}.template_indep_metrics.tsv" },
                    pattern: "*.tsv"
                ],
                [
                    path: { "${params.OUT}/${workflow.runName}/contacts/${meta*.value.join('.')}" },
                    pattern: "*.pse"
                ]

            ]
    }
}
