process {
    withName: PYMOL {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/pymol@sha256:f990a2f2c084905c71582b92c85b3d65712369f7f78940f71b8e2af486ffea0e"

        cpus         = 1
        time         = 1.h
        memory       = 16.GB

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/metrics" },
                    saveAs: { "${meta*.value.join('.')}.template_indep_metrics.tsv" },
                    pattern: "*.tsv"
                ],
                [
                    path: { "${params.OUT}/${workflow.runName}/contacts/${meta*.value.join('.')}" },
                    pattern: "*.pse"
                ]

            ]
    }
}
