process {
    withName: PYMOL {
        container  = "registry.gitlab.rlp.net/imbforge/imb-registry/pymol@sha256:d726bcb831457c394bead00312af56b520aff24c5eb7a2a20f567c148e5d2720"

        cpus         = 1
        time         = 1.h
        memory       = 16.GB

        publishDir =
            [
                [
                    path: { "${params.OUT}/${workflow.runName}/metrics" },
                    saveAs: { "${meta*.value.join('.')}.template_indep_metrics.tsv" },
                    pattern: "*.tsv"
                ],
                [
                    path: { "${params.OUT}/${workflow.runName}/contacts/${meta*.value.join('.')}" },
                    pattern: "*.pse"
                ]

            ]
    }
}
